<% include ./partials/navbar %>

<div class="container">
  <form action="/users/ref" method="POST" style="margin-top: 1em">
    <div class="form-group">
      <input type="text" id="ref" name="invite" class="form-control" placeholder="Referral code" value="<%= typeof invite != 'undefined' ? invite : '' %>" />
    </div>
    <button type="submit" class="btn btn-info btn-block">Submit Referral</button>
  </form>
  <br>
  <% include ./partials/messages %>
</div>
