
<body class="mb-2 text-black" style="vertical-align: middle">
  <section class="section-col row" style="flex-direction: row">
  </section>
  <section class="section-col row" style="flex-direction: row; margin-top: 1em;">

    <div class="col" style="margin-top: 10px; display: block; vertical-align: baseline; float: left;">
      <h4 class="d-flex justify-content-center">Partner with Advocate</h4>
      <form action="/users/business" method="POST" style="margin-top: 1em">
        <div class="form-group">
          <input type="firstname" id="email" name="email" class="form-control" placeholder="Email" value="<%= typeof email != 'undefined' ? email : '' %>" />
        </div>
        <div class="form-group">
          <input type="text" name="invite" class="form-control" placeholder="Invite code" value="<%= typeof invite != 'undefined' ? invite : '' %>" />
        </div>
        <div class="form-group">
          <input type="password" id="password" name="password" class="form-control" placeholder="Password" value="<%= typeof password != 'undefined' ? password : '' %>" />
        </div>
        <div class="form-group">
          <input type="password" id="password2" name="password2" class="form-control" placeholder="Confirm Password" value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
        </div>
        <button type="submit" class="btn btn-info btn-block">Register</button>
      </form>
      <p class="lead mt-4">Already registered? <a href="/users/login">Login</a></p>

      <% include ./partials/messages %>
    </div>
    <div class="col" style="position: relative; overflow: hidden; margin: 10px 0 30px;">
      <div class="card text-darkgrey bg-grey mb-3">
        <div class="card-body" style="height: 100%;">
          <h1>Title</h1>
          <p class="card-text">Here's what we can do for your business</p>
          <button type="button" class="btn btn-outline-info">Learn More</button>
          <img style="margin-left: -40%" width="120%" src="../indian.png" alt="">
        </div>
      </div>
    </div>
  </section>

</body>

<style media="screen">
  .section-col {
    width: 960px;
    margin: 0 auto;
  }

  .logo {
    display: block;
    margin-top: 35px;
    height: 34px;
    color: #333;
    text-decoration: none;
  }

  .logo::selection {
    background: #dedede;
    color: #484848;
    text-shadow: none;
  }
</style>
