<div class="center" style="text-align: center">
  <h1>Insights</h1>
</div>

<div class="row">
    <div class="col-md">
        <h1 style="text-align: center">X Points</h1>

    </div>
    <div class="col-md">
        <h1 style="text-align: center">Y Rewards redeemed</h1>

    </div>
</div>


<div class="center" style="text-align: center">
  <h1>Trends</h1>
</div>

<div class="">


  <div class="row">
      <div class="col-md">
          <img width="600px" src="https://www.slideteam.net/wp/wp-content/uploads/2017/02/Horrible-Line-Graph-Responsible-for-Death-by-PowerPoint.png" alt="">

      </div>
      <div class="col-md">
          <img width= "600px" src="https://www.slideteam.net/wp/wp-content/uploads/2017/02/Horrible-Line-Graph-Responsible-for-Death-by-PowerPoint.png" alt="">

      </div>
  </div>

  <div class="center" style="text-align: center">
    <h1>Suggested Actions</h1>
  </div>
