<% include ./partials/navbar %>

  <div class="container" style="height: 50%; text-align: center; ">

    <br>
    <h1>Earning Joy is Simple</h1>
    <br>
    <div class="row" style="margin-bottom: 1vh">
      <div class="col-sm">
        <div class="card" style="width: 18rem; text-align: left">
          <br>
          <img src="../phone.png" class="" width="100px" height="100px">
          <div class="card-body">
            <h5 class="card-title">Placeholder title</h5>
            <p class="card-text">Placeholder content. etc.</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem; text-align: left">
          <br>
          <img src="../phone.png" class="" width="100px" height="100px">
          <div class="card-body">
            <h5 class="card-title">Placeholder title</h5>
            <p class="card-text">Placeholder content. etc.</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem; text-align: left">
          <br>
          <img src="../phone.png" class="" width="100px" height="100px">
          <div class="card-body">
            <h5 class="card-title">Placeholder title</h5>
            <p class="card-text">Placeholder content. etc.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 18rem; text-align: left">
          <br>
          <img src="../phone.png" class="" width="100px" height="100px">
          <div class="card-body">
            <h5 class="card-title">Placeholder title</h5>
            <p class="card-text">Placeholder content. etc.</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem; text-align: left">
          <br>
          <img src="../phone.png" class="" width="100px" height="100px">
          <div class="card-body">
            <h5 class="card-title">Placeholder title</h5>
            <p class="card-text">Placeholder content. etc.</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem; text-align: left">
          <br>
          <img src="../phone.png" class="" width="100px" height="100px">
          <div class="card-body">
            <h5 class="card-title">Placeholder title</h5>
            <p class="card-text">Placeholder content. etc.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
