<div class="heading" style="text-align: center; padding-bottom: 5em;">
  <% include ./partials/bnav %>
  <br>
  <br>
  <br>
  <div class="container">
    <h1>We're here for your business</h1>
    <p class="lead">...and our Advocates are too. We've built this community to help you thrive, whether that means providing you with marketing through special events or sales on our platforms store. We'll be with you every step of the way to make
      sure YOU are getting the most out of our platform. </p>
      <br>
      <div class="button_container">

      	<button class="btn" onclick="window.location.href = '../users/business';"><span>Sign Up!</span></button>

      </div>
  </div>

</div>

<div class="container" style="text-align: center; ">
  <br>
  <h2>Here's what we do</h2>
  <hr>
  <br>

  <div class="container">
    <div class="row">
      <div class="col-md">
        <img src="../../media/bbpost.png" alt="" width="100%">
      </div>
      <div class="col-md captcontainer">
        <p class="lead capt">Our users can make Joy in a variety of ways, such as making a post about your businesss</p>
      </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="row">
      <div class="col-md captcontainer">
        <p class="lead capt2">They can then redeem their Joy for discounts on products from you</p>
      </div>
      <div class="col-md">

        <img src="../../media/productpage.png" alt="" width="100%">
      </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="row">
      <div class="col-md">
        <img src="../../media/businessdashboard.png" alt="" width="100%">
      </div>
      <div class="col-md captcontainer">
        <p class="lead capt">You'll be able to see redeemed rewards and Joy generated for your business on your dashboard</p>
      </div>
    </div>
  </div>



</div>
<style media="screen">
  @import url('https://fonts.googleapis.com/css?family=Amatic+SC');



.button_container {
	position: relative;
  left: 0;
  right: 0;
  top: 30%;
}

.description, .link {
  font-family: 'Amatic SC', cursive;
  text-align: center;
}

.description {
	font-size: 35px;
}

.btn {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #222;
  background-color: #fff;
  font-weight: 700;
  font-size: 15px;
  padding: 17px 60px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #F96561;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.link {
  font-size: 20px;
  margin-top: 30px;
}

.link a {
  color: #000;
  font-size: 25px;
}

  body {
    height: 100%;
  }

  .heading {
    background: linear-gradient(to bottom right, rgba(253, 113, 20, 0.8), rgba(245, 45, 111, 0.9)) center center no-repeat;
    color: #ffffff;
    margin-left: 0px;
    margin-right: 0px;
  }

  .card {
    color: #000;
    height: 100%;
    text-align: center;
  }

  .icon {
    position: relative;
  }

  #micon {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .testicon {
    background-color: #ff2448;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
  }

  .capt {
    margin: auto;
    text-align: left;
    font-size: 30px;
  }

  .capt2 {
    margin: auto;
    text-align: right;
    font-size: 30px;
  }

  .captcontainer {
    display: flex;
        margin: auto;
  }
</style>
