<head>
    <title>Calendar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body>
  <div class="container mt-8">
      <div>
        <div class="form-inline">
            <button class="btn btn-outline-primary col-sm-1" onclick="back()">&larr;</button>
            <h3 class="card-header" id="monthAndYear"></h3>
            <button class="btn btn-outline-primary col-sm-1" onclick="next()">&rarr;</button>
        </div>
          <table class="table table-bordered" id="calendar">
              <thead>
              <tr>
                  <th>Sunday</th>
                  <th>Monday</th>
                  <th>Tuesday</th>
                  <th>Wednesday</th>
                  <th>Thursday</th>
                  <th>Friday</th>
                  <th>Saturday</th>
              </tr>
              </thead>
              <tbody id="calendar-body">
              </tbody>
          </table>
      </div>
  </div>
</body>
