<div class="middle">
  <h1>We love you being you</h1>
  <br>
  <br>
  <a href="/users/register" class="btn btn-lg btn-info registerbtn">
    <h3>Now get rewarded for it</h3>
  </a>
  <br>
  <br>
  <a class="lead mt-4" href="javascript:scrollDown()">Or click this link to learn more :)</a>

  <div class="" style="margin-top: 0.6em">
    <h4 style="height: 105px;">For <input id="post" maxlength='4' value="0001" style="outline: none"> posts a week</h4>
    <h4>
      You could earn <div class="dollar">
        <h3 id="dollarAmount">$XXX</h3>
      </div>
      in
      <div class="popup text-decoration-none" style="color: #ff2448">Joy (?)
        <span class="popuptext" id="popC">
          <p>You can earn joy by making posts and spend it on cool products and services. You can also earn a lot of bonus joy by participating in our events and making high quality posts.</p>
        </span>
      </div>

    </h4>
  </div>
  <br>
</div>



<div class="container" style="height: 100%; text-align: center" id="bottom">
  <hr>
  <br>
    <h1>Earning Joy is Simple</h1>
  <div class="row">
    <div class="col-sm">
      <div class="card3 h-lg-100">
        <div class="card3-body h-100 pr-0">

          <img class = "pic" src="https://lh3.googleusercontent.com/Gp8bptvmZh1GBM146I0GBxmvZdFlzea2m-87KYz1zxFIguq5Mj0e8p4-tj7FQN51O0XbON_iIv1_u6BxC0RA8jbfoDvSgaXrYCtL7rwMK9GQIwux81EdoAbMiKy9BJYRfleabltTdpGhWs7U7FqOZcewJwmDLG7K7OMmcIX9IdKX59klW5_55xxfMqyVMpd9al8Vmh2s7I-F-_lrVr_VgHjRwBL4HeYl4BoZMBM7gNCEEHlr5e3AX32n2kq10yB8c-f6UbCoZO_dIAj1IC7-mhafqZqCpKhicXi0lNAp5cpQt5Mm9rxM2cPC_IdPd8Tj0mc7udYhYm6GPa2myoP_f93X9XNyfWndP3e7tPgcq5XvgJVkmf-bcPDJcT-mOONcTemN0Z_a-UuQ058BWhd5K1MYF1Lmtm3103s-PCN8tA5GkBJXTyaeKGJQDfDhG5BvaqeyGHC4XCFQKkib7zlfAtF8wIYP59t4DZ1CItOTgkYhfp9w0MdVIvJnxycCiynhdCVBRtFeUd1d--Myxr6pZzGpWGtjt4fvYkAUmWMR0GtRqwutRpH97TOaEmbrUnTyfUTYQiUwfnu4OQ4GH95EE_qJJi39tU7roj8zJXj8HYf2CJ_jciCpcRp6-2nGQ7A5rirfc5qFRq8V1DNOiA14wY4cxeAqP-rJwqLgF9m4shXiX2Hk6dL0Lk3t3f4Ifg=w704-h700-no" alt="Post">
                <h3>Make a post about a brand you love</h3>  </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card3 h-lg-100">
        <div class="card3-body h-100 pr-0">
          <img class = "pic" src="https://lh3.googleusercontent.com/ywfEtLX914sZTxOyFmR_JqjRkxUQBCCgGZPQloeXniUiEq4WAA2bgjYGc2Ml89XUGsCv1felWIHh7BFJJzaRSjwqJMpAF6yk7XBl3gtgRARDZYHsuY8eL63B3gCgyOudMM0dfoJchqYwFcBheWMZOjKEz_ce2rH08b6K7hHt8Id4FnkDlfkIz7mQYEMcZkFmnb4DXLY0vVEqmN3Xll35C3J7PiNC3lChrrHYpannh_haxAjqvT-2WwR0WIHJ4foikzVyvyGGDT9pXvhB3P-8wN45km8yLmt2RdG69ZO63L2Qtwqo9eOhTp-xVkDhKtF1_LaILcPbjI1qzc98_5oz-HcudfHXPq-G4c7icctRSi_QhcTGyLyEFU9254ZCyRtf3IHJNwEx74NeErYtdHnlmg0iENnhDr9TEVJV3JNDgMcVWAA58J2A_jtDEGj-84dBYuu3mllBNNEtzmneQTy8Z6hNFc12-0BrZXiY4w8Ar3Mun2pE08w8FHNcRS78mOULca9tVrdzTv6rtDXc2nE3S23Xb00wtJ8mnJy2vs7b-PoC8f6hj58ZjdNsPbSY-q7LHVT0UsxWQeL6kXRMCjwZUJV_nEytsQJWHY27-zysgjpqwBgaKg2mkYTjmKtfrekhBYG8i9d727Q_3YwFJH4X2SxhkcbBTE1yywQxRga5YOAJByYYrc196bQHTnEmcQ=w711-h700-no" alt="Hearts">

          <h3>Get joy automatically within 24hrs</h3>
        </div>
      </div>
    </div>
     <div class="col-sm">
          <div class="card3 h-lg-100">
            <div class="card3-body h-100 pr-0">
              <img class = "pic" src="https://lh3.googleusercontent.com/4ZItmVSDe9pnAx3hZNC2gkAGV0FYlCrt4PrPDwruuOVCpK_edwgd6nO6cAu9Jzin1di1kpD0xULJ-PxYILc0TEbh-C7_zsnxeQTs5qVYeNeAbnyABw4MHEO1PXNAAlBOpqZNJ2TDprPp0_LScLkaf12QHn2NWEEisPlzPMpORwhFUwGUAmRtMaRWoI3TbL6-gCl8s6wtR_M4OugEum4fagetuRNF7vvsmWMkxUAzFCgxXN0ilm96kWwnoiNcrnflMjFE0tcbx8jPNLde_i0aPT6C8q5nuyIO4xwa81TEM89vbNQy2tmu00Dy9RlrWNwUygN5hsrd1_culWbY5sI5ktEWPuMkW8rLAkUrJVJ5bD8jxnu6_dQm7SVrE455WfzrDNiQFsMCextfhoRG2am-qZM3_FA4wcYwGguQrGdZqlw0XSVHH1um4X9BLvM61Ij1LDViQcqA11YnkFyfFj4-0RU4_C6StKxUQRgFo8UsR8Gb6oMa9b8Oi0FUdICWaTXF4hhpVWLCRztZ2cXu1rpCqtVg4vrXrKPayWtmdSOeLdZiU87VeX2S2akJYpszMxDCHAYC7U_1KUdefurJqarRE41YfW0s4_yhkUgMLNtbW87he8-dtj-lzKqwjInKDJKfcnh7Dn5xL2wXAuH8Fq5gwvfV-bkCo9GwSka3B3TJCrB5DDuGlTS-kZuLUe2Itw=s700-no" alt="Reward">

              <h3>Redeem joy for cool rewards </h3>
            </div>
          </div>
        </div>
  </div>
</div>


<style>
  body,
  html {
    height: 100%;
    margin: 0;
  }

  .bgimg {
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: black;
  }

  .middle .bottomleft {
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
  }

  .topleft {
    position: absolute;
    top: 0;
    left: 16px;
  }

  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
  }

  .middle {
    position: relative;
    margin: auto;
    padding-top: 19%;
    text-align: center;
    padding-bottom: 19%;
  }

  hr {
    margin: auto;
    width: 40%;
  }
</style>

<script>
  function scrollDown() {
    $("HTML, BODY").animate({
      scrollTop: $("#bottom").offset().top
    }, 1000);
  }
</script>
