<div class="middle">
  <h1>Beta test beginning soon!</h1>
  <hr>
  <p id="dd" style="font-size:30px"></p>
  <p id="hh" style="font-size:30px"></p>
  <p id="mm" style="font-size:30px"></p>
  <p id="ss" style="font-size:30px"></p>

  <a href="/users/betatest" class="btn btn-lg btn-info">Register</a>
</div>
<div class="bottomleft">
  <p>Project Advocate</p>
</div>

<style>
  body,
  html {
    height: 100%;
    margin: 0;
  }

  .bgimg {
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: black;
  }

  .middle .bottomleft {
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
  }

  .topleft {
    position: absolute;
    top: 0;
    left: 16px;
  }

  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
  }

  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  hr {
    margin: auto;
    width: 40%;
  }
</style>

<script>
  // var countDownDate = new Date("Mar 3, 2020 12:00:00").getTime();
  //
  // var countdownfunction = setInterval(function() {
  //
  //   var now = new Date().getTime();
  //
  //   var distance = countDownDate - now;
  //
  //   var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  //   var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  //   var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  //   var seconds = Math.floor((distance % (1000 * 60)) / 1000);
  //
  //   document.getElementById("dd").innerHTML = days + " days";
  //   document.getElementById("hh").innerHTML = hours + " hours";
  //   document.getElementById("mm").innerHTML = minutes + " minutes";
  //   document.getElementById("ss").innerHTML = seconds + " seconds";
  //
  //   if (distance < 0) {
  //     clearInterval(countdownfunction);
  //     document.getElementById("demo").innerHTML = "EXPIRED";
  //   }
  // }, 1000);
</script>
