
    <h1>Beta test beginning soon!</h1>
    <hr>
    <p id="dd" style="font-size:30px"></p>
    <p id="hh" style="font-size:30px"></p>
    <p id="mm" style="font-size:30px"></p>
    <p id="ss" style="font-size:30px"></p>
    <h2><%= count %> total users registered!</h2>


<style>
  body,
  html {
    height: 100%;
    margin: 0;
  }
  .bgimg {
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: black;
  }
  .middle .bottomleft {
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
  }
  .middle {
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  hr {
    margin: auto;
    width: 40%;
  }
</style>

<script>
  var countDownDate = new Date("Apr 5, 2020 12:00:00").getTime();

  var countdownfunction = setInterval(function() {

    var now = new Date().getTime();

    var distance = countDownDate - now;

    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    document.getElementById("dd").innerHTML = days + " days";
    document.getElementById("hh").innerHTML = hours + " hours";
    document.getElementById("mm").innerHTML = minutes + " minutes";
    document.getElementById("ss").innerHTML = seconds + " seconds";

    if (distance < 0) {
      clearInterval(countdownfunction);
      document.getElementById("demo").innerHTML = "EXPIRED";
    }
  }, 1000);
</script>
