<div class="middle">
  <h1>We love you being you</h1>
  <hr>
  <br>
  <a href="/users/register" class="btn btn-lg btn-info registerbtn">
    <h3>Now get rewarded for it</h3>
  </a>
  <br>
  <br>
  <a class="lead mt-4" href="javascript:scrollDown()">Or click this link to learn more :)</a>

  <div class="" style="margin-top: 0.6em">
    <h4 style="height: 105px;">For <input id="post" maxlength='4' value="0001" style="outline: none"> posts a week</h4>
    <h4>
      You could earn <div class="dollar">
        <h3 id="dollarAmount">$XXX</h3>
      </div>
      in
      <div class="popup text-decoration-none" style="color: #ff2448">Joy (?)
        <span class="popuptext" id="popC">
          <p>You can earn joy by making posts and spend it on cool products and services. You can also earn a lot of bonus joy by participating in our events and making high quality posts.</p>
        </span>
      </div>

    </h4>
  </div>
  <br>
</div>

<div class="container" style="height: 100%; text-align: center" id="bottom">
  <hr>
  <br>
  <div class="row">
    <div class="col-lg-6 pl-lg-2 mb-3">
      <div class="card3 h-lg-100">
        <div class="card3-body h-100 pr-0">
          <h3>Now get rewarded for it</h3>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card">

      </div>
    </div>
    <div class="col-md">
      <div class="card">

      </div>
    </div>
  </div>
</div>


<style>
  body,
  html {
    height: 100%;
    margin: 0;
  }

  .bgimg {
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: black;
  }

  .middle .bottomleft {
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
  }

  .topleft {
    position: absolute;
    top: 0;
    left: 16px;
  }

  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
  }

  .middle {
    position: relative;
    margin: auto;
    padding-top: 19%;
    text-align: center;
    padding-bottom: 19%;
  }

  hr {
    margin: auto;
    width: 40%;
  }
</style>

<script>
  function scrollDown() {
    $("HTML, BODY").animate({
      scrollTop: $("#bottom").offset().top
    }, 1000);
  }
</script>
