<body class="p-3 mb-2 bg-info text-black">
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          Create A Class
        </h1>

        <% include ./partials/messages %>

<body class="p-3 mb-2 bg-dark text-info">
      <form action="/class/createclass" method="POST">
        <div class="form-group">
          <label for="cname">Class Name</label>
          <input type="text" id="cname" name="cname" class="form-control" placeholder="Class X" value="<%= typeof cname != 'undefined' ? cname : '' %>" />
        </div>
        <div class="form-group">
          <label for="ctext">Starting Text</label>
          <input type="text" id="ctext" name="ctext" class="form-control" placeholder="Type starting text here" value="<%= typeof ctext != 'undefined' ? ctext : '' %>" />
        </div>
        <button type="submit" class="btn btn-dark btn-block">
          Create
        </button>
      </form>
  </body>
    </div>
  </div>
</body>
