<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Digital Desk</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="/users/logout">Logout</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href=/#> <span data-feather="home"></span>
              <br></br>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Classes</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" onclick="open(window.location -'/dashboard' +'/joinclass')" href="/joinclass">
              <span data-feather="file-text"></span>
              Join a class
            </a>
        </ul>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" onclick="open(window.location -'/dashboard' +'/createclass')" href="/createclass">
              <span data-feather="file-text"></span>
              Create a class
            </a>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>

      </div>
      <p class="lead mb-3">Welcome, <%= user.firstname %> <%= user.lastname %>, to your digital desk!</p>
      <div class="container mt-8">
        <div>
          <div class="form-inline mb-md-4">
            <button class="btn btn-outline-primary col-sm-1" id="prev">&larr;</button>
              <h4 class='ml-md-3 month'></h4>
              <h4 class='mr-md-3 ml-md-1 year'></h4>
            <button class="btn btn-outline-primary col-sm-1" id="next"">&rarr;</button>
          </div>
        </div>
      </div>
      <div class='container'>
    <div class='calendar'>
        <table class='table table-bordered table-hover calTable days-body'>
            <thead>
                <tr class='days-row'>
                    <th>Sunday</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                </tr>
            </thead>
            <tbody class='calendar-days'></tbody>
        </table>
    </div>
    <div class='event-container'>
        <div class='events visible'>
            <span class='no-Events event-message'>There are no events today</span>
        </div>
        <form class='new-event-form hidden'>
            <h5>Add An Event For This Date</h5>
            <input id='new-event-desc' type='text' name='desc' placeholder='Type event here'>
            <input type='submit' class='submit-event rotate' value='Add'>
        </form>
    </div>
</div>
          <div class='event-container'>
              <div class='events visible'>
                  <span class='no-Events event-message'></span>
              </div>
          </div>
      </div>
  </div>
</div>
