<div class="modal fade" id="locationModal" tabindex="-1" role="dialog" aria-labelledby="locationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="locationModalLabel">Please select an area</h5>
      </div>
      <div class="modal-body">
        <div class="container" style="text-align:center">
          <a class="lead" href="javascript:selectLoc('Bellevue')">Bellevue</a>
          <br>
          <a class="lead" href="javascript:selectLoc('Redmond')">Redmond</a>
          <br>
          <a class="lead" href="javascript:selectLoc('Sammamish')">Sammamish</a>
          <br>
          <a class="lead" href="javascript:selectLoc('Seattle')">Seattle</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"
        integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo="
        crossorigin="anonymous"></script>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

<script type="text/javascript">
$(() => {
  <% if (typeof user.location == 'undefined' || user.location == "") { %>
    $('#locationModal').modal({
      backdrop: true,
      keyboard: false,
      focus: true
    });
  <% } %>
});

function selectLoc(loc) {
  var socket = io();
  $('#locationModal').modal('hide');

  <% if (typeof user.email != 'undefined' && user.email != "") {%>
    socket.emit('location', "<%= user.email %>", loc);
  <% } %>
}

</script>

<div class="heading" style="text-align: center; padding-bottom: 5em;">
  <% include ./partials/bnav %>
  <br>
  <br>
  <br>
  <div class="container">
    <% if (typeof user.name != 'undefined') { %>
    <h1>Welcome <%= user.name %> to your dashboard</h1>
    <% } else { %>
    <h1>Welcome to your dashboard</h1>
    <% } %>
    <br>
    <br>
    <div class="button_container">

      <button class="btn" onclick="window.location.href = '/users/ref';"><span>Connect Accounts</span></button>

    </div>
  </div>

</div>

<br>

<div class="largenum">
  <%= user.points %>
</div>

<div class="main-content container">
  <!-- HEADER -->
  <div class="header">
    <div class="container-fluid">

      <!-- Body -->
      <div class="header-body">
        <div class="row align-items-end">
          <div class="col">

            <!-- Pretitle -->
            <h6 class="header-pretitle">
              Overview
            </h6>

            <!-- Title -->
            <h1 class="header-title">
              Dashboard
            </h1>

          </div>
          <div class="col-auto">

            <!-- Button -->
            <button class="btn" onclick="window.location.href = '/users/ref';"><span>Claim a referral</span></button>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .header-body -->

    </div>
  </div> <!-- / .header -->

  <br>

  <!-- CARDS -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-6 col-xl">

        <!-- Value  -->
        <div class="card">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col">

                <!-- Title -->
                <h6 class="text-uppercase text-muted mb-2">
                  Joy
                </h6>

                <!-- Heading -->
                <span class="h2 mb-0">
                  <%= user.points %>
                </span>
              </div>
              <div class="col-auto">

                <!-- Icon -->
                <span class="h2 fe fe-dollar-sign text-muted mb-0"></span>

              </div>
            </div> <!-- / .row -->
          </div>
        </div>

      </div>
      <div class="col-12 col-lg-6 col-xl">

        <!-- Hours -->
        <div class="card">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col">

                <!-- Title -->
                <h6 class="text-uppercase text-muted mb-2">
                  Posts made
                </h6>

                <!-- Heading -->
                <span class="h2 mb-0">
                  0
                </span>

              </div>
              <div class="col-auto">

                <!-- Icon -->
                <span class="h2 fe fe-briefcase text-muted mb-0"></span>

              </div>
            </div> <!-- / .row -->
          </div>
        </div>

      </div>

      <div class="col-12 col-lg-6 col-xl">

        <!-- Time -->
        <div class="card">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col">

                <!-- Title -->
                <h6 class="text-uppercase text-muted mb-2">
                  Rewards claimed
                </h6>

                <!-- Heading -->
                <span class="h2 mb-0">
                  0
                </span>

              </div>
              <div class="col-auto">

                <!-- Icon -->
                <span class="h2 fe fe-clock text-muted mb-0"></span>

              </div>
            </div> <!-- / .row -->
          </div>
        </div>

      </div>
    </div> <!-- / .row -->
    <br>
    <div class="row">
      <div class="col-12 col-xl-8">

        <!-- Convertions -->
        <div class="card">
          <div class="card-header">

            <!-- Title -->
            <h4 class="card-header-title">
              Your posts
            </h4>

          </div>
          <div class="card-body">

            <!-- Chart -->
            <div class="chart">
              <div class="chartjs-size-monitor">
                <div class="chartjs-size-monitor-expand">
                  <div class=""></div>
                </div>
                <div class="chartjs-size-monitor-shrink">
                  <div class="">Instagram not connected</div>
                </div>
              </div>
              <canvas id="conversionsChart" class="chart-canvas chartjs-render-monitor" style="display: block; height: 300px; width: 876px;" width="967" height="331"></canvas>
            </div>

          </div>
        </div>
      </div>
      <div class="col-12 col-xl-4">

        <!-- Traffic -->
        <div class="card">
          <div class="card-header">

            <!-- Title -->
            <h4 class="card-header-title">
              Earning Joy
            </h4>

            <!-- Tabs -->
            <ul class="nav nav-tabs nav-tabs-sm card-header-tabs">
              <li class="nav-item" data-toggle="chart" data-target="#trafficChart" data-trigger="click" data-action="toggle" data-dataset="0">
                <a href="#" class="nav-link active" data-toggle="tab">
                  Opportunities
                </a>
              </li>
              <li class="nav-item" data-toggle="chart" data-target="#trafficChart" data-trigger="click" data-action="toggle" data-dataset="1">
                <a href="#" class="nav-link" data-toggle="tab">
                  Help
                </a>
              </li>
            </ul>

          </div>
          <div class="card-body">

            <!-- Chart -->
            <div class="chart chart-appended">
              <div class="chartjs-size-monitor">
                <div class="chartjs-size-monitor-expand">
                  <div class=""></div>
                </div>
                <div class="chartjs-size-monitor-shrink">
                  <div class=""></div>
                </div>
              </div>
              <canvas id="trafficChart" class="chart-canvas chartjs-render-monitor" data-toggle="legend" data-target="#trafficChartLegend" width="441" height="264" style="display: block; height: 240px; width: 400px;"></canvas>
            </div>


          </div>
        </div>
      </div>
    </div> <!-- / .row -->
  </div>
</div> <!-- / .row -->


<style media="screen">
  @import url('https://fonts.googleapis.com/css?family=Amatic+SC');



  .button_container {
    position: relative;
    left: 0;
    right: 0;
    top: 30%;

  }

  .description,
  .link {
    font-family: 'Amatic SC', cursive;
    text-align: center;
  }

  .description {
    font-size: 35px;
  }

  .btn {
    border-radius: 100px;
    border: transparent;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #222;
    background-color: #fff;
    font-weight: 700;
    font-size: 15px;
    padding: 22.5px 90px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
  }

  .btn span {
    position: relative;
    z-index: 1;
  }

  .btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: #F96561;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
  }

  .btn:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
  }

  .link {
    font-size: 20px;
    margin-top: 30px;
  }

  .link a {
    color: #000;
    font-size: 25px;
  }

  body {
    height: 100%;
  }

  .heading {
    background: linear-gradient(to bottom right, rgba(253, 113, 20, 0.8), rgba(245, 45, 111, 0.9)) center center no-repeat;
    color: #ffffff;
    margin-left: 0px;
    margin-right: 0px;
  }

  .card {
    color: #000;
    height: 100%;
    text-align: center;
  }

  .icon {
    position: relative;
  }

  #micon {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .testicon {
    background-color: #ff2448;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
  }

  .capt {
    margin: auto;
    text-align: left;
    font-size: 30px;
  }

  .capt2 {
    margin: auto;
    text-align: right;
    font-size: 30px;
  }

  .captcontainer {
    display: flex;
    margin: auto;
  }

  .largenum {
    text-align: center;
  }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
