<div class="middle">
  <% include ./partials/landingnav %>


  <div class="container">


  <div class="row">

    <div class="col-md">
      <h1 style="margin-top: 2.5em">We love you being you</h1>
      <p class="lead" style="font-size: 30px; margin-bottom: 2em">Now get rewarded for it</p>

      <input class="c-checkbox" type="checkbox" id="checkbox">
      <div class="c-formContainer" style="display: inline-block; margin: 0 auto">
        <form class="c-form" action="/" method="post">
          <input class="c-form__input" name="email" placeholder="E-mail" type="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" required>
          <button class="c-form__button" type="submit">Send</button>
          <label class="c-form__buttonLabel" for="checkbox">

          </label>

        </form>
        <label class="c-form__toggle" for="checkbox" data-title="Get started"></label>
      </div>


      <div class="" style="margin-top: 0.2em">
        <!--<h4 style="height: 105px;">For <input id="post" maxlength='4' value="0001" style="outline: none"> posts a week</h4>
        -->
        <br>
        <h4>
          Sign up now to
           earn <div class="dollar">
            <h3 id="dollarAmount">$5</h3>
          </div>
          in
          <div class="popup text-decoration-none" style="color: #ddd">Joy (?)
            <span class="popuptext" id="popC">
              <p>You can earn joy by making posts and spend it on cool products and services. You can also earn a lot of bonus joy by participating in our events and making high quality posts.</p>
            </span>
          </div>
        </h4>
      </div>
    </div>
  </div>

  </div>

  <div class="container">

  <div class="row" style="margin-top: 3em">
    <div class="col-lg-12">
      <div class="elements-wrapper">
        <div class="element">
          <img class="icon" height="150" src="../phone_white.png" alt="alternative">
          <p class="title">Make posts</p>
        </div>

        <img class="fas" width="30" src="../icons/chevron-right.svg" alt="">
        <div class="element">
          <img class="icon" height="150" src="../hearts_white.png" alt="alternative">
          <p class="title">Receive joy</p>
        </div>

        <img class="fas" width="30" src="../icons/chevron-right.svg" alt="">
        <div class="element">
          <img class="icon" height="150" src="../gift_white.png" alt="alternative">
          <p class="title">Redeem rewards</p>
        </div>

      </div>
    </div>
  </div>

  </div>

</div>




<style>
  body,
  html {
    height: 100%;
    margin: 0;
  }

  .element {
    display: inline-block;
    vertical-align: middle;
  }

  #emailEnter {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 12px;
    box-sizing: border-box;
    border: 4px solid #bbb;
    border-radius: 8px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }

  #emailEnter:focus {
    border: 4px solid #fff;
  }

  .title {
    color: #fff;
    font: 700 1.375rem/1.75rem "Raleway", sans-serif;
    margin-top: 1em;
  }

  .bgimg {
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: black;
  }

  .topleft {
    position: absolute;
    top: 0;
    left: 16px;
  }

  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
  }

  .middle {
    margin: auto;
    text-align: center;
    padding-bottom: 19%;
    background: linear-gradient(to bottom right, rgba(253, 113, 20, 0.8), rgba(245, 45, 111, 0.9)) center center no-repeat;
    color: #ffffff;
    height: 100vh;
  }

  hr {
    margin: auto;
    width: 40%;
  }

  .c-checkbox {
    display: none;
  }

  .c-checkbox:checked+.c-formContainer .c-form {
    width: 24em;
  }

  .c-checkbox:checked+.c-formContainer .c-form__toggle {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.7);
  }

  .c-checkbox:checked+.c-formContainer .c-form__input,
  .c-checkbox:checked+.c-formContainer .c-form__buttonLabel {
    transition: 0.2s 0.1s;
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }

  .c-checkbox:not(:checked)+.c-formContainer .c-form__input:required:valid~.c-form__toggle {
    pointer-events: none;
    cursor: default;
  }

  .c-formContainer,
  .c-form,
  .c-form__toggle {
    width: 12em;
    height: 4em;
  }

  .c-formContainer {
    position: relative;
    font-weight: 700;
  }

  .c-form,
  .c-form__toggle {
    position: absolute;
    border-radius: 6.25em;
    background-color: #fff;
    transition: 0.2s;
  }

  .c-form {
    left: 50%;
    transform: translateX(-50%);
    padding: 0.625em;
    box-sizing: border-box;
    box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
  }

  .c-form__toggle {
    color: #ff7b73;
    top: 0;
    cursor: pointer;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .c-form__toggle::before {
    font-size: 1.75em;
    content: attr(data-title);
  }

  .c-form__input,
  .c-form__button {
    font: inherit;
    border: 0;
    outline: 0;
    border-radius: 5em;
    box-sizing: border-box;
  }

  .c-form__input,
  .c-form__buttonLabel {
    font-size: 1.75em;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.7);
    transition: 0s;
  }

  .c-form__input {
    color: #fcc;
    height: 100%;
    width: 100%;
    padding: 0 0.714em;
  }

  .c-form__input::placeholder {
    color: currentColor;
  }

  .c-form__input:required:valid {
    color: #ff7b73;
  }

  .c-form__input:required:valid+.c-form__buttonLabel {
    color: #fff;
  }

  .c-form__input:required:valid+.c-form__buttonLabel::before {
    pointer-events: initial;
  }

  .c-form__buttonLabel {
    color: #ffaea9;
    height: 100%;
    width: auto;
  }

  .c-form__buttonLabel::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    cursor: pointer;
  }

  .c-form__button {
    color: inherit;
    padding: 0;
    height: 100%;
    width: 5em;
    background-color: #ff7b73;
  }

  .c-form__button:hover {
    background-color: #ff2448;
  }
</style>
