

<div class="middle">
  <div class="container top-landing">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/"><img src="../AdvocateDraftLogos-512.png" alt="" width="48" height="48"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Store</a>
          </li>

        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
       >     </ul>
      </div>
    </nav>

    <h1>We love you being you</h1>
    <br>
    <a href="/users/register" class="btn btn-lg btn-info registerbtn">
      <h3>Now get rewarded for it</h3>
    </a>

    <div>style="height: 105px;">For <input id="post" maxlength='4' value="0001" style="outline: none"> posts a week</h4>
      <h4>
        You could earn <div class="dollar">
          <h3 id="dollarAmount">$XXX</h3>
        </div>
        in
        <div class="popup text-decoration-none" style="color: #ff2448">Joy (?)
          <span class="popuptext" id="popC">
            <p>You can earn joy by making posts anautomaticallyalso

      </h4>
    </div>
  </div>

<div class="middle">

  <div class="container" style="text-align: center;">
      <div class="col-sm">
        <div class="card" style="width: 18rem; text-align: left; height: 100%">
          <br>
          <img src="../phone.png" class="" width="100px" height="100px">
          <div class="card-body">
            <h5 class="card-title">Make a post about a brand you love</h5>
            <p class="card-text">Your imagination is the limit, and there are no requirements. Just make something to show your appreciation for a business and share it with the world.</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem; text-align: left; height: 100%;">
          <br>
          <img src="../hearts.png" class="" width="100px" height="100px">
          <div class="card-body">
            <h5 class="card-title">You'll get joy for the posts you make within 24hrs automatically.</h5>
            <p class="card-text"> You'll also be able to get extra joy for completing special tasks, so be on the lookout!</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem; text-align: left; height: 100%">
          <br>
          <img src="../gift.png" class="" width="100px" height="100px">
          <div class="card-body">
            <h5 class="card-title">Redeem points for rewards </h5>
            <p class="card-text">When you earn enough joy, you'll be able to use them to get rewards at our store.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="bottom" style="background-color: #fff5fd; height: 100%; text-align: center">
  <div class="container" style="height: 50%; text-align: center; ">

    <br>
    <br>
    <br>
    <h1>Advocate is a platform that rewards you for doing what you do best ...
    </h1>
    <p class="lead">
      ...knowing what you like. We all have our favorite pastimes. Some of us love going to the boba place down the street after work, while others can't wait to try out some new clothes when prom rolls around.
      The point is, these things are yours, and we think the internet needs a bit more of them. No one wants to see some corporate advertisment that looks so fake it was probably made in a petri dish.
      What you enjoy doing, the things that make your day, your week, or your Kwanzaa, that's what we want to hear. And we're ready to slip you some rewards for doing it ;)
    </p>
    <br>

  </div>
</div>


<style>
  body,
  html {
    height: 100%;
    margin: 0;
  }

  .bgimg {
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: black;
  }

  .middle .bottomleft {
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
  }

  .topleft {
    position: absolute;
    top: 0;
    left: 16px;
  }

  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
  }

  .middle {
    position: relative;
    margin: auto;
    margin-top: 0;
    padding-top: 0vh;
    text-align: center;
    padding-bottom: 19%;
    padding-right: 0;
    padding-left: 0;
  }

  .top-landing {
    background: rgb(255,194,204);
    background: linear-gradient(27deg, rgba(255,194,204,1) 0%, rgba(255,36,72,1) 100%);
    color: #ffffff;

  }

  hr {
    margin: auto;
    width: 40%;
  }
</style>

<script>
  function scrollDown() {
    $("HTML, BODY").animate({
      scrollTop: $("#bottom").offset().top
    }, 1000);
  }
</script>
