<% include ./partials/navbar %>

<div class="middle">
  <h1>We love you being you</h1>
  <br>
  <br>
  <a href="/users/register" class="btn btn-lg btn-info registerbtn">
    <h3>Now get rewarded for it</h3>
  </a>
  <br>
  <br>
  <a class="lead mt-4" href="javascript:scrollDown()">Or click this link to learn more :)</a>

  <div class="" style="margin-top: 0.6em">
    <h4 style="height: 105px;">For  <input id="post" maxlength='4' value="0001" style="outline: none"> posts a week</h4>
    <h4>
      You could earn <div class="dollar">
        <h3 id="dollarAmount">$XXX</h3>
      </div>
      in
      <div class="popup text-decoration-none" style="color: #ff2448">Joy (?)
        <span class="popuptext" id="popC">
          <p>You can earn joy by making posts and spend it on cool products and services. You can also earn a lot of bonus joy by participating in our events and making high quality posts.</p>
        </span>
      </div>

    </h4>
  </div>
  <br>
</div>


<div style="background-color: #fff5fd; height: 100%; text-align: center">
  <div class="container" style="height: 50%; text-align: center; ">

    <br>
    <br>
    <br>
    <h1>Earning Joy is Simple</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <br>
    <div class="row" style="margin-bottom: 1vh">
      <div class="col-sm">
        <div class="card" style="width: 18rem; text-align: left">
          <br>
          <img src="../phone.png" class="" width="100px" height="100px">
          <div class="card-body">
            <h5 class="card-title">Placeholder title</h5>
            <p class="card-text">Placeholder content. etc.</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem; text-align: left">
          <br>
          <img src="../phone.png" class="" width="100px" height="100px">
          <div class="card-body">
            <h5 class="card-title">Placeholder title</h5>
            <p class="card-text">Placeholder content. etc.</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem; text-align: left">
          <br>
          <img src="../phone.png" class="" width="100px" height="100px">
          <div class="card-body">
            <h5 class="card-title">Placeholder title</h5>
            <p class="card-text">Placeholder content. etc.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<style>
  body,
  html {
    height: 100%;
    margin: 0;
  }

  .bgimg {
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: black;
  }

  .middle .bottomleft {
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
  }

  .topleft {
    position: absolute;
    top: 0;
    left: 16px;
  }

  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
  }

  .middle {
    position: relative;
    margin: auto;
    padding-top: 23vh;
    text-align: center;
    padding-bottom: 19%;
  }

  hr {
    margin: auto;
    width: 40%;
  }
</style>

<script>
  function scrollDown() {
    $("HTML, BODY").animate({
      scrollTop: $("#bottom").offset().top
    }, 1000);
  }
</script>
