<section class="section-col row" style="flex-direction: row">
  <a class="logo" href="#" style="margin-left: 15px;">
    <h2>advocate logo</h2>
  </a>
</section>
<section class="section-col row" style="flex-direction: row; margin-top: 1em;">

  <div class="col" style="margin-top: 10px; display: block; vertical-align: baseline; float: left;">
    <h4 class="d-flex justify-content-center">Sign in to Advocate</h4>
    <form action="/users/login" method="POST" style="margin-top: 1em">
      <div class="form-group">
        <input type="email" id="username" name="username" class="form-control" placeholder="Email" />
      </div>
      <div class="form-group">
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" />
      </div>
      <button type="submit" class="btn btn-info btn-block">Login</button>
    </form>
    <p class="lead mt-4">
      Don't have an account? <a href="/users/register"> Register Now</a>
    </p>

    <% include ./partials/messages %>
  </div>
  <div class="col" style="position: relative; overflow: hidden; margin: 10px 0 30px;">
    <div class="card text-darkgrey bg-grey mb-3">
      <div class="card-body" style="height: 100%;">
        <h1>Placeholder</h1>
        <p class="card-text">More placeholder text</p>
        <button type="button" class="btn btn-outline-info">Learn More</button>
      </div>
    </div>
  </div>
</section>

<style media="screen">
  .section-col {
    width: 960px;
    margin: 0 auto;
  }

  .logo {
    display: block;
    margin-top: 35px;
    height: 34px;
    color: #333;
    text-decoration: none;
  }

  .logo::selection {
    background: #dedede;
    color: #484848;
    text-shadow: none;
  }
</style>
