<body class="p-3 mb-2 bg-info text-black">
  <div class="container">
    <div class="jumbotron cjumbotron">
      <h1 style="text-align:center">Welcome to your Digital Desk!</h1>
      <% include ./partials/messages %>
      <p style="text-align:center">Step into your virtual classroom. Register or log into your account.</p>
      <a href="/users/register" class="btn btn-info btn-block mb-2">Register</a>
      <a href="/users/login" class="btn btn-dark btn-block">Login</a>
      <p style="text-align:center">Our mission is to develop an application that can be used in the classroom and at home to enhance education for generations to come. Technology's prevalence in our society continues to escalate, and we believe that a well-developed digital classroom can increase learning potential and significantly support a child's future.
    </div>
  </div>
</body>
